/* Body */

img
{
    max-width: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: auto;
    background-color: white;
    font-family: 'raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.bold
{
    font-weight: bold;
}


/* Header et menus */

header
{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav a
{
    padding-left: 30px;
    padding-right: 30px;
    color: #0065FC;
    text-decoration: none;
}

.inscription a
{
    font-weight: bold;
}

.hebergement a
{
    border-top: 3px solid #0065FC;
    padding-top: 38px;
}

.activites a
{
    color: black;
}


/* Titre et Champ de recherche */

.recherche
{
    display: flex;
    flex-direction: column;
}

.recherche h1
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
}

.recherche p
{
    font-size: 0.9em;
    margin-top: 4px;
}

.champ_de_recherche
{
    display: flex;
    width: 22em;
}

.champ_de_recherche .fa-map-marker-alt
{
    background-color: #F2F2F2;
    font-size: 14px;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}

.champ_de_recherche .ville
{
    flex: 1;
    border: 1px solid #F2F2F2;
    font-size: 16px;
    padding: 12px;
}

.champ_de_recherche .bouton_recherche
{
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 14px;
    padding: 14px;
}

.champ_de_recherche .bouton_recherche
{
    cursor: pointer;
}

/* Filtres */

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
.filtres div
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    border-left: none;
}

.filtres div:hover
{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.filtres p
{
    font-weight: bold;
    margin: 0px 8px 0px 8px;
    padding: 0px 5px 0px 5px;
}

.filtres .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 10px;
    margin-left: -2px;
}

.fa-child
{
    width: 16px;
    padding-left: 13px;
}

.resultats_filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultats_filtres .fa-info
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
}

.resultats_filtres p
{
    font-size: 0.9em;
    margin-left: 10px;
}


/* Section résultats Hébergements */

.section_hebergements_et_populaires
{
    display: flex;
    align-content: space-between;
    flex-flow: wrap;
    width: 100%;
}

.bloc_hebergements
{
    flex: 2.3;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
}

.bloc_hebergements h2
{
    margin: 40px 0 0 40px;
    font-size: 1.2em;
    font-weight: bold;
}

.bloc_resultats
{
    display: flex;
    flex-flow: wrap;
    margin: 20px;
}

.apercu_resultat
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    height: 190px;
    width: 230px;
    margin: 20px;
    cursor: pointer;
}

.apercu_resultat h3
{
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 5px 20px;
}

.apercu_resultat p
{
    margin: 0 0 5px 20px;
    font-size: 0.8em;
}

.photo_chambre_hebergement
{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    width: 95.5%;
    height: 55%;
}

.rating_stars_hebergement
{
    display: flex;
    margin: 0 0 10px 20px;
}

.blue_rating_stars
{
    color: #0065FC;
}

.grey_rating_stars
{
    color: #F2F2F2;
    margin-left: 4px;
}

.fa-star
{
    font-size: 0.8em;
    margin-right: -4px
}

/* Section Les plus populaires */

.titre_et_icone_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px 40px 0 40px;
}

.bloc_populaire
{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 20px;
}

.bloc_populaire h2
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.bloc_apercu_populaire
{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.apercu_populaire
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    margin: 10px 20px 10px 20px;
    height: 140px;
    min-width: 300px;
    cursor: pointer;
}

.apercu_populaire h3
{
    font-weight: bold;
    font-size: 1em;
    margin: 15px 20px 2px 10px;
}

.apercu_populaire p
{
    font-size: 0.8em;
    margin: 5px 20px 5px 10px;
}

.rating_stars_populaire
{
    display: flex;
    margin: 35px 20px 5px 10px;
    font-size: 0.9em;
}

.bloc_photo_populaire
{
    flex: 1;
}

.photo_chambre_populaire
{
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    height: 92%;
    width: 90%
}

.contenu_populaire
{
    flex: 1.6;
}

