/* Body et apparence globale */

img
{
    max-width: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: white;
    font-family: 'raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;
    max-width: 1600px;
    margin: auto;
}

header, main
{
    width: 93%;
    margin: auto;
}

.bold
{
    font-weight: bold;
}


/* Header et menus */

header
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav_desktop
{
    display: flex;
}

.nav_mobile
{
    display: none;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav a
{
    padding-left: 30px;
    padding-right: 30px;
    color: #0065FC;
    text-decoration: none;
}

.inscription a
{
    font-weight: bold;
}

.hebergements a
{
    border-top: 3px solid #0065FC;
    padding-top: 38px;
}

.activites a
{
    color: black;
}


/* Titre et Champ de recherche */

.recherche
{
    display: flex;
    flex-direction: column;
}

.recherche h1
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
}

.recherche p
{
    font-size: 0.9em;
    margin-top: 4px;
}

.champ_de_recherche
{
    display: flex;
    width: 22em;
}

.champ_de_recherche .fa-map-marker-alt
{
    background-color: #F2F2F2;
    font-size: 14px;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}

.champ_de_recherche .ville
{
    flex: 1;
    border: 1px solid #F2F2F2;
    font-size: 16px;
    padding: 12px;
}

.recherche .fa-search
{
    display: none;
}

.champ_de_recherche .bouton_recherche_desktop
{
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 14px;
    padding: 14px;
}

.champ_de_recherche .bouton_recherche_desktop
{
    cursor: pointer;
}


/* Filtres */

.bloc_filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
}

.filtres div
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 5px 5px 20px;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    border-left: none;
}

.filtres div:hover
{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.bloc_filtres p
{
    font-weight: bold;
    margin: 0px 8px 0px 8px;
    padding: 0px 5px 0px 5px;
}

.filtres .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 10px;
    margin-left: -2px;
}

.fa-child
{
    width: 16px;
    padding-left: 13px;
}

.resultats_filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultats_filtres .fa-info
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
}

.resultats_filtres p
{
    font-size: 0.9em;
    margin-left: 10px;
}


/* Section résultats Hébergements */

.section_hebergements_et_populaires
{
    display: flex;
    align-content: space-between;
    flex-flow: wrap;
}

.bloc_hebergements
{
    flex: 2.3;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 10px 20px 20px 0;
}

.bloc_hebergements h2
{
    margin: 40px 0 0 40px;
    font-size: 1.2em;
    font-weight: bold;
}

.bloc_resultats
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.bloc_hebergements .resultats_afficherplus_mobile
{
    display: none;
}

.apercu_resultat
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    height: 190px;
    width: 230px;
    margin: 20px;
    cursor: pointer;
}

.apercu_resultat h3
{
    font-weight: bold;
    font-size: 0.9em;
    margin: 0 0 5px 20px;
}

.apercu_resultat p
{
    margin: 0 0 5px 20px;
    font-size: 0.8em;
}

.photo_chambre_hebergement
{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    width: 95.5%;
    height: 55%;
}

.rating_stars_hebergement
{
    display: flex;
    margin: 0 0 10px 20px;
}

.blue_rating_stars
{
    color: #0065FC;
}

.grey_rating_stars
{
    color: #F2F2F2;
    margin-left: 4px;
}

.fa-star
{
    font-size: 0.8em;
    margin-right: -4px;
}


/* Section Les plus populaires */

.titre_et_icone_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px 40px 0 40px;
}

.bloc_populaire
{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 10px 0 20px 20px;
}

.bloc_populaire h2
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.bloc_apercu_populaire
{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.apercu_populaire
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    margin: 10px 20px 10px 20px;
    height: 140px;
    min-width: 300px;
    cursor: pointer;
}

.apercu_populaire h3
{
    font-weight: bold;
    font-size: 0.9em;
    margin: 15px 20px 2px 10px;
}

.apercu_populaire p
{
    font-size: 0.8em;
    margin: 5px 20px 5px 10px;
}

.rating_stars_populaire
{
    display: flex;
    margin: 35px 20px 5px 10px;
    font-size: 0.9em;
}

.bloc_photo_populaire
{
    flex: 1;
}

.photo_chambre_populaire
{
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    height: 92%;
    width: 90%;
}

.contenu_populaire
{
    flex: 1.6;
}


/* Section Activités à Marseille */

.activites_a_marseille
{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.activites_a_marseille h2
{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
}

.activites_a_marseille h3
{
    font-weight: bold;
    font-size: 0.9em;
    width: 100%;
    margin: 10px 20px 2px 13px;
}

.bloc_activites
{
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    height: 370px;
}

.bloc_activite_simple, .bloc_photo_activite_petite, .bloc_photo_activite_moyenne
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;
    cursor: pointer;
}

.bloc_activite_simple
{
    width: 25%;
    height: 100%;
    margin: 20px;
}

.bloc_activite_double
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    margin: 20px;
}

.photo_activite, .photo_activite_petite, .photo_activite_moyenne
{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.photo_activite
{
    height: 88%;
}

.photo_activite_petite
{
    height: 70%;
}

.photo_activite_moyenne
{
    height: 76%;
}

.bloc_photo_activite_petite
{
    height: 38.3%;
}

.bloc_photo_activite_moyenne
{
    height: 51.6%;
}


/* Footer */

footer
{
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    background-color: #F2F2F2;
    margin: 0;
    padding: 20px 0 20px 0;
}

footer ul
{
    list-style-type: none;
    padding: 0;
    font-size: 0.8em;
}

footer li
{
    padding-bottom: 7px;
}

footer h3
{
    font-weight: bold;
    font-size: 0.9em;
}

footer a
{
    color: black;
    text-decoration: none;
}

.a_propos, .nos_hebergements, .assistance
{
    margin-right: 190px;
    margin-left: 60px;
}


/* Media Queries pour smartphone */

@media all and (max-device-width: 480px)
{   

    /* Apparence globale */

    body, header, main, .recherche, .filtres, .resultats_filtres, .bloc_hebergements, .bloc_populaire, .activites_a_marseille, .footer
    {
        width: auto;
        margin: 0;
        padding: 0;
    }

    
    /* Header et nav */

    header
    {
        margin: 30px 20px 20px 20px;
    }
    
    .hebergements_desktop, .activites_desktop
    {
        display: none;
    }

    .nav_desktop a, .nav_desktop ul, .nav_mobile ul, .nav_mobile a
    {
        padding: 0;
    }

    .nav_mobile
    {
        display: block;
    }

    .hebergements a
    {
        border: none;
        padding-top: 0;
        
    }

    .hebergements, .activites
    {
        width: 50%;
        text-align: center;
    }

    .hebergements
    {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
    }

    .activites
    {
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 15px;
    }


    /* Recherche */

    .recherche
    {
        margin: 20px;
    }
    
    .recherche h1
    {
        font-size: 1.4em;
        margin: 0;
    }

    .recherche p
    {
        margin: 10px 0 0 0;
    }

    .recherche .bouton_recherche_desktop
    {
        display: none;
    }

    .recherche .fa-search
    {
        display: block;
        color: white;
        background-color: #0065FC;
        font-size: 14px;
        padding: 15px;
        margin-left: -8px;
        border-radius: 15px 15px 15px 15px;
    }

    .recherche .champ_de_recherche
    {
        width: auto;
        margin-top: 35px;
    }


    /* Filtres */

    .bloc_filtres
    {
        flex-direction: column;
        margin: 20px;
    }

    .filtres div
    {
        margin: 0 10px 10px 0;
    }

    .resultats_filtres
    {
        margin: 20px;
    }


    /* Section hébegement et populaire */

    .section_hebergements_et_populaires
    {
        flex-direction: column-reverse;
        width: auto;
    }

    .bloc_hebergements, .bloc_populaire
    {
        border-radius: 0;
        width: auto;
        padding: 0 0 40px 0;
    }

    .titre_et_icone_populaire
    {
        margin: 40px 20px 20px 20px;
    }

    .bloc_populaire, .bloc_resultats
    {
        width: auto;
        margin: 0;
    }

    .bloc_apercu_populaire
    {
        width: auto;
        margin: 0;
    }

    .bloc_hebergements
    {
        background-color: white;
    }

    .bloc_hebergements h2
    {
        margin: 40px 20px 10px 20px;
    }

    .apercu_resultat
    {
        width: auto;
        margin-bottom: 3px;
    }

    .photo_chambre_hebergement
    {
        width: 96.5%;
    }

    .bloc_hebergements .resultats_afficherplus_mobile
    {
        display: block;
        margin: 25px 0 0 20px;
        font-weight: bold;
    }


    /* Section activités */

    .activites_a_marseille
    {
        width: auto;
        height: auto;
        flex-direction: column;
        margin: 0 20px 0 20px;
    }

    .activites_a_marseille h2
    {
        margin: 0 0 30px 0;
    }

    .bloc_activites
    {
        width: auto;
        height: auto;
        flex-direction: column;
        margin: 0;
    }

    .bloc_activite_simple, .bloc_activite_double
    {
        width: auto;
        margin: 0;
    }

    .bloc_activite_simple, .bloc_photo_activite_petite, .bloc_photo_activite_moyenne
    {
        height: 190px;
        width: auto;
        margin: 0 0 20px 0;
    }

    .photo_activite, .photo_activite_petite, .photo_activite_moyenne
    {
        height: 70%;
    }

    .bloc_activites h3
    {
        margin: 15px 0 0 15px;
    }


    /* Footer */

    footer
    {
        flex-direction: column;
        padding-top: 30px;
    }

    .a_propos, .nos_hebergements, .assistance
    {
        margin: 0 0 0 20px;
    }
}

@media all and (min-width: 480px) and (max-width: 1024px)
{
    

    /* Section hébergements et populaires */
    
    .section_hebergements_et_populaires
    {
        flex-direction: column;
    }

    .bloc_hebergements, .bloc_populaire
    {
        margin: 10px 0 10px 0;
    }

   
    /* Section activités */

    .activites_a_marseille
    {
        width: auto;
        height: auto;
        flex-direction: column;
        margin: 0;
    }

    .activites_a_marseille h2
    {
        margin: 30px 0 30px 30px;
    }

    .bloc_activites
    {
        width: auto;
        height: auto;
        flex-direction: column;
        margin: 0;
    }

    .bloc_activite_simple, .bloc_activite_double
    {
        width: auto;
        margin: 0;
    }

    .bloc_activite_simple, .bloc_photo_activite_petite, .bloc_photo_activite_moyenne
    {
        height: 190px;
        width: auto;
        margin: 0 0 20px 0;
    }

    .photo_activite, .photo_activite_petite, .photo_activite_moyenne
    {
        height: 70%;
    }

    .bloc_activites h3
    {
        margin: 15px 0 0 15px;
    }


    /* Footer */
    
    footer
    {
        flex-direction: column;
    }
}